<template>
  <v-container
    fluid
    fill-height
  >
    <v-layout
      align-center
      justify-center
    >
      <v-flex
        xs12
        sm8
        md4
      >
        <material-card
          color="primary"
          class="elevation-12"
          title="Log in"
        >
          <v-form ref="form">
            <v-text-field
              v-model="email"
              :error-messages="errorMessages.email"
              :rules="rules.email"
              prepend-icon="mdi-email"
              label="E-mail"
              type="email"
              autofocus
              validate-on-blur
              @keydown.enter="login"
            />
            <v-text-field
              v-model="password"
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              :error-messages="errorMessages.password"
              :rules="rules.password"
              :type="showPassword ? 'text' : 'password'"
              prepend-icon="mdi-lock"
              label="Password"
              validate-on-blur
              @click:append="showPassword = !showPassword"
              @keydown.enter="login"
            />
          </v-form>
          <v-layout
            row
            align-center
          >
            <v-flex xs-6>
              <v-btn
                class="mx-0 font-weight-light"
                color="success"
                :to="{ name: 'Register' }"
              >
                Register now
              </v-btn>
            </v-flex>
            <v-flex
              xs-6
              class="text-xs-right"
            >
              <v-btn
                ref="loginBtn"
                :loading="loggingIn"
                class="mx-0 font-weight-light"
                color="success"
                @click="login"
              >
                Log in
              </v-btn>
            </v-flex>
          </v-layout>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      email: '',
      password: '',
      loggingIn: false,
      showPassword: false,
      rules: {
        email: [
          v => !!v || 'E-mail is required',
          v => /.+@.+/.test(v) || 'E-mail must be valid'
        ],
        password: [
          v => !!v || 'Password is required'
        ]
      },
      errorMessages: {
        email: null,
        password: null
      }
    }
  },
  methods: {
    login () {
      if (this.$refs.form.validate()) {
        this.loggingIn = true

        this.$auth.login({
          body: { 'email': this.email, 'password': this.password },
          success: this.loggingIn = false,
          error: this.loggingIn = false
        })
      }
    }
  }
}
</script>
