<template>
  <v-spacer />
</template>

<script>
export default {
  created () {
    // TODO: don't let router-view get updated

    this.$http.post('auth/logout').then(() => {
      localStorage.removeItem('token')
      this.$store.commit('logoutUser')

      this.$router.push({ name: 'Login' })
    }).catch(error => {
      // TODO: show error (notification?)
      console.log(error)
    })
  }
}
</script>
