<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex md-12>
        <v-data-table
          :headers="headers"
          :items="orders"
          item-key="id"
        >
          <template v-slot:items="props">
            <tr @click="props.expanded = !props.expanded">
              <td>{{ props.item.id }}</td>
              <td v-if="$auth.check('owner')">
                {{ props.item.student.id }}
              </td>
              <td v-if="$auth.check('owner')">
                {{ props.item.student.name }}
              </td>
              <td>{{ props.item.location }}</td>
              <td class="text-xs-right">
                {{ props.item.created_at }}
              </td>
              <td class="text-xs-right">
                {{ props.item.completed_at }}
              </td>
              <td class="text-xs-right">
                {{ props.item.total | toCurrency }}
              </td>
              <td class="text-xs-right">
                {{ props.item.status }}
              </td>
              <td
                v-if="$auth.check(['owner', 'deliverer'])"
                class="text-xs-right"
              >
                <v-icon
                  small
                  class="mr-2"
                  @click.stop="toggleCompleteOrder(props.item)"
                >
                  {{ isOrderCompleted(props.item) ? 'mdi-check' : 'mdi-close' }}
                </v-icon>
                <v-icon
                  v-if="$auth.check('owner')"
                  small
                  @click.stop="setToDelete(props.item)"
                >
                  mdi-delete
                </v-icon>
              </td>
            </tr>
          </template>
          <template v-slot:expand="props">
            <v-card flat>
              <v-list subheader>
                <v-subheader>Snacks</v-subheader>

                <!-- eslint-disable valid-v-on -->
                <v-list-tile
                  v-for="snack in props.item.snacks"
                  :key="snack.name"
                  avatar
                  @click.ignore="ignore"
                >
                  <v-list-tile-avatar>
                    <img :src="snack.image_url">
                  </v-list-tile-avatar>

                  <v-list-tile-content>
                    <v-list-tile-sub-title>
                      {{ snack.quantity }} x {{ snack.name }} at {{ snack.price | toCurrency }} / ea.
                    </v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>
              </v-list>
            </v-card>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>

    <v-dialog
      v-model="deleteDialog"
      max-width="500px"
    >
      <v-card>
        <v-card-title class="headline">
          Delete order
        </v-card-title>
        <v-card-text>Are you sure you want to delete this order?</v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary darken-1"
            flat
            @click="deleteDialog = false"
          >
            No
          </v-btn>
          <v-btn
            color="error darken-1"
            flat
            :loading="deleteBtnLoading"
            @click="deleteOrder()"
          >
            Yes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      orders: [],
      deleteDialog: false,
      deleteBtnLoading: false
    }
  },

  computed: {
    headers () {
      const headers = [
        { text: 'Order ID', value: 'id', width: '1' },
        { text: 'Location', value: 'location' },
        { text: 'Order Date', value: 'orderDate', align: 'right' },
        { text: 'Delivery Date', value: 'deliveryDate', align: 'right' },
        { text: 'Total', value: 'total', align: 'right' },
        { text: 'Status', value: 'status', align: 'right' }
      ]

      if (this.$auth.check('owner')) {
        headers.splice(1, 0, { text: 'Student ID', value: 'studentId' })
        headers.splice(2, 0, { text: 'Student Name', value: 'studentName' })
      }

      if (this.$auth.check(['owner', 'deliverer'])) {
        headers.splice(8, 0, { text: 'Actions', value: 'actions', align: 'right' })
      }

      return headers
    }
  },

  created () {
    this.getOrders()
  },

  methods: {
    getOrders () {
      this.$http.get('orders').then(response => {
        this.orders = response.data.data
      })
    },

    setToDelete (order) {
      this.toDelete = order
      this.deleteDialog = true
    },

    deleteOrder () {
      this.$http.delete(`orders/${this.toDelete.id}`)
        .then(
          () => {
            // success
            const index = this.orders.indexOf(this.toDelete)
            this.orders.splice(index, 1)
            this.deleteBtnLoading = false
            this.deleteDialog = false
          },
          () => {
            // error
            this.deleteBtnLoading = false
            this.deleteDialog = false
          }
        )
    },

    isOrderCompleted (order) {
      return order.completed_at === '-'
    },

    toggleCompleteOrder (order) {
      const completed = this.isOrderCompleted(order)

      this.$http.put(`orders/${order.id}`, { completed })
        .then(
          (response) => {
            // success
            const newOrder = response.data.data
            Object.getOwnPropertyNames(newOrder).forEach(key => { order[key] = newOrder[key] })
          }
        )
    }
  }
}
</script>
