<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout wrap>
      <v-flex>
        <v-stepper
          v-model="e6"
          vertical
        >
          <v-stepper-step
            :complete="e6 > 1"
            step="1"
            editable
          >
            Select some snacks
          </v-stepper-step>

          <v-stepper-content step="1">
            <v-container
              fluid
              grid-list-md
            >
              <v-data-iterator
                :items="snacks"
                :pagination.sync="pagination"
                hide-actions
                content-tag="v-layout"
              >
                <template v-slot:item="props">
                  <v-flex
                    xs12
                    sm6
                    md4
                    lg3
                  >
                    <v-card
                      class="ma-2"
                      @click="toggleSnack(props.item)"
                    >
                      <v-expand-transition>
                        <div
                          v-if="props.item.selected"
                          class="d-flex transition-fast-in-fast-out success darken-2 v-card--reveal"
                          style="height: 100%;"
                        >
                          <v-icon size="100">
                            mdi-check-circle
                          </v-icon>
                        </div>
                      </v-expand-transition>
                      <v-img
                        :aspect-ratio="16/9"
                        :src="props.item.image_url"
                      />
                      <v-card-text
                        class="pt-4"
                        style="position: relative;"
                      >
                        <v-btn
                          absolute
                          color="primary"
                          class="white--text"
                          fab
                          depressed
                          right
                          top
                        >
                          {{ props.item.price | toCurrency }}
                        </v-btn>
                        <h3 class="display-1 font-weight-light primary--text mb-2 v-messages__message">
                          {{ props.item.name }}
                        </h3>
                        <div class="font-weight-light mb-2 text-truncate">
                          {{ props.item.description }}
                        </div>
                      </v-card-text>
                    </v-card>
                  </v-flex>
                </template>
              </v-data-iterator>

              <div class="text-xs-center pt-3">
                <v-pagination
                  v-model="pagination.page"
                  :length="pages"
                  :total-visible="7"
                />
              </div>
            </v-container>

            <v-btn
              color="primary"
              @click="e6 = 2"
            >
              Continue
            </v-btn>
          </v-stepper-content>

          <v-stepper-step
            :complete="e6 > 2"
            step="2"
            editable
          >
            Customize your order
          </v-stepper-step>

          <v-stepper-content step="2">
            <v-container fluid>
              <v-layout
                v-for="snack in selectedSnacks"
                :key="snack.id"
                row
                wrap
                align-center
              >
                <v-flex xs2>
                  <v-subheader>{{ snack.name }}</v-subheader>
                </v-flex>

                <v-flex shrink>
                  <v-select
                    v-model="snack.quantity"
                    :items="generateQuantityRange(snack.stock)"
                    label="Quantity"
                  />
                </v-flex>

                <v-spacer />
              </v-layout>
            </v-container>

            <v-btn
              dark
              @click="e6 = 1"
            >
              Back
            </v-btn>

            <v-btn
              color="primary"
              @click="e6 = 3"
            >
              Continue
            </v-btn>
          </v-stepper-content>

          <v-stepper-step
            :complete="e6 > 3"
            step="3"
            editable
          >
            Delivery location
          </v-stepper-step>

          <v-stepper-content step="3">
            <v-form class="pl-2 pb-3">
              <v-text-field
                v-model="location"
                label="Where should we deliver to?"
                auto-grow
              />
            </v-form>

            <v-btn
              dark
              @click="e6 = 2"
            >
              Back
            </v-btn>

            <v-btn
              color="primary"
              @click="e6 = 4"
            >
              Continue
            </v-btn>
          </v-stepper-content>

          <v-stepper-step
            :complete="e6 > 4"
            step="4"
            editable
          >
            Review order
          </v-stepper-step>

          <v-stepper-content step="4">
            <v-container
              fluid
              grid-list-xl
            >
              <v-layout
                row
                wrap
                align-center
              >
                <v-flex
                  xs1
                  class="subheading"
                >
                  Amount Due:
                </v-flex>

                <v-flex
                  shrink
                  class="subheading"
                >
                  {{ total | toCurrency }}
                </v-flex>

                <v-flex>
                  <v-spacer />
                </v-flex>
              </v-layout>

              <v-layout
                row
                wrap
                align-center
              >
                <v-flex
                  xs1
                  font-weight-regular
                >
                  Destination:
                </v-flex>

                <v-flex>
                  {{ location }}
                </v-flex>
              </v-layout>

              <v-divider />

              <v-layout>
                <v-flex>
                  <v-data-table
                    :headers="orderHeaders"
                    :items="selectedSnacks"
                    hide-actions
                  >
                    <template v-slot:items="props">
                      <td>{{ props.item.name }}</td>
                      <td>{{ props.item.description }}</td>
                      <td class="text-xs-right">
                        {{ props.item.quantity }}
                      </td>
                      <td class="text-xs-right">
                        {{ props.item.price | toCurrency }}
                      </td>
                      <td class="text-xs-right">
                        {{ (props.item.price * props.item.quantity) | toCurrency }}
                      </td>
                    </template>
                  </v-data-table>
                </v-flex>
              </v-layout>
            </v-container>

            <v-btn
              dark
              @click="e6 = 3"
            >
              Back
            </v-btn>

            <v-btn
              color="primary"
              @click="submitOrder"
            >
              Order
            </v-btn>
          </v-stepper-content>
        </v-stepper>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { pick } from 'lodash'

export default {
  data () {
    return {
      e6: 1,
      snacks: [],
      location: '',
      pagination: {
        rowsPerPage: 4
      },
      orderHeaders: [
        { text: 'Snack', value: 'name', sortable: false },
        { text: 'Description', value: 'description', sortable: false },
        { text: 'Quantity', value: 'quantity', sortable: false, align: 'right' },
        { text: 'Unit Price', value: 'price', sortable: false, align: 'right' },
        { text: 'Amount', value: 'amount', sortable: false, align: 'right' }
      ]
    }
  },

  computed: {
    selectedSnacks () {
      return this.snacks.filter(snack => snack.selected)
    },

    pages () {
      if (this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) return 0

      return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
    },

    total () {
      let total = 0

      this.selectedSnacks.map(snack => {
        total += (snack.price * snack.quantity)
      })

      return total
    }
  },

  created () {
    this.getSnacks()
  },

  methods: {
    getSnacks () {
      this.$http.get('snacks').then(response => {
        this.snacks = response.data.data.map(snack => {
          snack.selected = false
          snack.quantity = 0
          return snack
        })

        this.pagination.totalItems = this.snacks.length
      })
    },

    toggleSnack (snack) {
      snack.selected = !snack.selected
    },

    generateQuantityRange (quantity) {
      return Array.from(Array(quantity).keys()).map(x => x + 1)
    },

    submitOrder () {
      const data = { location: this.location }

      data['selections'] = this.selectedSnacks.map(snack => {
        return pick(snack, ['id', 'price_id', 'quantity'])
      })

      this.$http.post('orders', data)
    }
  }
}
</script>

<style scoped lang="scss">
  .v-card--reveal {
    align-items: center;
    bottom: 0;
    justify-content: center;
    opacity: .5;
    position: absolute;
    width: 100%;
    z-index: 5;
  }
</style>
