<template>
  <v-container
    fluid
    fill-height
  >
    <v-layout
      align-center
      justify-center
    >
      <v-flex
        xs12
        sm8
        md4
      >
        <material-card
          color="primary"
          class="elevation-12"
          title="Register"
        >
          <v-form ref="form">
            <v-text-field
              v-model="userName"
              :error-messages="errorMessages.userName"
              :rules="rules.userName"
              prepend-icon="mdi-account"
              label="ID Number"
              type="text"
              autofocus
              validate-on-blur
            />
            <v-text-field
              v-model="firstName"
              :error-messages="errorMessages.firstName"
              :rules="rules.firstName"
              prepend-icon="mdi-account"
              label="First name"
              type="text"
              validate-on-blur
            />
            <v-text-field
              v-model="lastName"
              :error-messages="errorMessages.lastName"
              :rules="rules.lastName"
              prepend-icon="mdi-account"
              label="Last name"
              type="text"
              validate-on-blur
            />
            <v-text-field
              v-model="email"
              :error-messages="errorMessages.email"
              :rules="rules.email"
              prepend-icon="mdi-email"
              label="E-mail"
              type="email"
              validate-on-blur
            />
            <v-text-field
              v-model="password"
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              :error-messages="errorMessages.password"
              :type="showPassword ? 'text' : 'password'"
              :rules="rules.password"
              prepend-icon="mdi-lock"
              label="Password"
              validate-on-blur
              @click:append="showPassword = !showPassword"
            />
            <v-text-field
              v-model="confirmPassword"
              :append-icon="showConfirmPassword ? 'mdi-eye' : 'mdi-eye-off'"
              :error-messages="errorMessages.confirmPassword"
              :type="showConfirmPassword ? 'text' : 'password'"
              :rules="rules.confirmPassword"
              prepend-icon="mdi-lock"
              label="Confirm Password"
              validate-on-blur
              @click:append="showConfirmPassword = !showConfirmPassword"
              @keydown.enter="register"
            />
          </v-form>
          <v-layout
            row
            align-center
          >
            <v-flex xs-6>
              <v-btn
                class="mx-0 font-weight-light"
                color="success"
                :to="{ name: 'Login' }"
              >
                Login now
              </v-btn>
            </v-flex>
            <v-flex
              xs-6
              class="text-xs-right"
            >
              <v-btn
                ref="loginBtn"
                :loading="registering"
                class="mx-0 font-weight-light"
                color="success"
                @click="register"
              >
                Register
              </v-btn>
            </v-flex>
          </v-layout>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      userName: '',
      firstName: '',
      lastName: '',
      email: '',
      password: '',
      confirmPassword: '',
      registering: false,
      showPassword: false,
      showConfirmPassword: false,
      rules: {
        userName: [
          v => !!v || 'ID number is required'
        ],
        firstName: [
          v => !!v || 'First name is required'
        ],
        lastName: [
          v => !!v || 'Last name is required'
        ],
        email: [
          v => !!v || 'E-mail is required',
          v => /.+@.+/.test(v) || 'E-mail must be valid'
        ],
        password: [
          v => !!v || 'Password is required'
        ],
        confirmPassword: [
          v => !!v || 'Password is required'
        ]
      },
      errorMessages: {
        userName: null,
        firstName: null,
        lastName: null,
        email: null,
        password: null,
        confirmPassword: null
      }
    }
  },
  methods: {
    register () {
      if (this.$refs.form.validate()) {
        this.registering = true

        this.$auth.register({
          body: {
            username: this.userName,
            first_name: this.firstName,
            last_name: this.lastName,
            email: this.email,
            password: this.password,
            password_confirmation: this.confirmPassword
          },
          // NB: `autoLogin` sends the body to the login route as well
          autoLogin: true,
          success: () => { this.registering = false },
          error: () => { this.registering = false }
        })
      }
    }
  }
}
</script>
