<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <!-- delete dialog -->
      <v-dialog
        v-model="deleteDialog"
        max-width="500px"
      >
        <v-card>
          <v-card-title class="headline">
            Delete snack
          </v-card-title>
          <v-card-text>Are you sure you want to delete this snack?</v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              color="primary darken-1"
              flat
              @click="deleteDialog = false"
            >
              No
            </v-btn>
            <v-btn
              color="error darken-1"
              flat
              :loading="deleteBtnLoading"
              @click="deleteItem()"
            >
              Yes
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-flex md-12>
        <material-card
          color="primary"
        >
          <template slot="header">
            <v-layout row>
              <v-flex
                grow
                mr-4
              >
                <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Search"
                  single-line
                  hide-details
                />
              </v-flex>
              <v-flex shrink>
                <v-dialog
                  v-model="dialog"
                  max-width="500px"
                >
                  <v-btn
                    slot="activator"
                    color="primary"
                    dark
                    class="mb-2"
                  >
                    New Snack
                  </v-btn>
                  <v-card>
                    <v-card-title>
                      <v-layout row>
                        <v-flex shrink>
                          <v-avatar>
                            <img :src="editedItem.image">
                          </v-avatar>
                        </v-flex>
                        <v-flex
                          grow
                          pa-2
                          pl-3
                        >
                          <span class="headline">{{ formTitle }}</span>
                        </v-flex>
                      </v-layout>
                    </v-card-title>

                    <v-card-text>
                      <v-container grid-list-md>
                        <v-layout wrap>
                          <v-flex
                            xs12
                            sm6
                            md4
                          >
                            <v-text-field
                              v-model="editedItem.name"
                              label="Snack name"
                            />
                          </v-flex>
                          <v-flex
                            xs12
                            sm6
                            md4
                          >
                            <v-text-field
                              v-model="editedItem.price"
                              prefix="$"
                              suffix=".00"
                              label="Price"
                            />
                          </v-flex>
                          <v-flex
                            xs12
                            sm6
                            md4
                          >
                            <v-text-field
                              v-model="editedItem.stock"
                              label="Stock"
                            />
                          </v-flex>
                          <v-flex
                            xs12
                            sm6
                            md4
                          >
                            <v-text-field
                              v-model="editedItem.description"
                              label="Description"
                            />
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-spacer />
                      <v-btn
                        color="blue darken-1"
                        flat
                        @click="close"
                      >
                        Cancel
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        flat
                        :loading="saveBtnLoading"
                        @click="save"
                      >
                        Save
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-flex>
            </v-layout>
          </template>
          <v-data-table
            :headers="headers"
            :items="snacks"
            :search="search"
          >
            <template
              slot="items"
              slot-scope="props"
            >
              <td>{{ props.item.name }}</td>
              <td class="pt-2 pb-2">
                <v-avatar>
                  <img :src="props.item.image_url">
                </v-avatar>
              </td>
              <td>{{ props.item.price | toCurrency }}</td>
              <td>{{ props.item.stock }}</td>
              <td>{{ props.item.description }}</td>
              <td class="justify-center layout px-0">
                <v-icon
                  small
                  class="mr-2"
                  @click.stop="editItem(props.item)"
                >
                  mdi-pencil
                </v-icon>
                <v-icon
                  small
                  @click.stop="deleteItem(props.item)"
                >
                  mdi-delete
                </v-icon>
              </td>
            </template>
            <v-alert
              slot="no-results"
              :value="true"
              color="error"
              icon="mdi-alert"
            >
              Your search for "{{ search }}" found no results.
            </v-alert>
          </v-data-table>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      search: '',
      dialog: false,
      deleteDialog: false,
      editedIndex: -1,
      saveBtnLoading: false,
      deleteBtnLoading: false,
      toDelete: null,
      editedItem: {
        name: '',
        price: 0,
        stock: 0,
        description: '',
        image: ''
      },
      defaultItem: {
        name: '',
        price: 0,
        stock: 0,
        description: '',
        image: ''
      },
      headers: [
        { text: 'Name', value: 'name', align: 'left' },
        { text: 'Image', value: 'image' },
        { text: 'Price', value: 'price' },
        { text: 'Stock', value: 'stock' },
        { text: 'Description', value: 'description' },
        { text: 'Actions', value: 'name', sortable: false }
      ],
      snacks: []
    }
  },

  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'New Snack' : 'Edit Snack'
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    }
  },

  created () {
    this.initialize()
  },

  methods: {
    close () {
      this.dialog = false
      this.editedItem = Object.assign({}, this.defaultItem)
      this.editedIndex = -1
    },

    save () {
      if (this.editedIndex > -1) {
        // updating
        this.$http.put(`snacks/${this.editedItem.id}`, this.editedItem)
          .then(
            () => {
              // success
              // FIXME: price is not formatted
              Object.assign(this.snacks[this.editedIndex], this.editedItem)
              this.saveBtnLoading = false
              this.close()
            },
            () => {
              // error
              this.saveBtnLoading = false
              // snackbar should show error
            }
          )
      } else {
        // creating
        this.saveBtnLoading = true

        this.$http.post('snacks', this.editedItem)
          .then(
            () => {
              // success
              // FIXME: price is not formatted
              this.snacks.push(this.editedItem)
              this.saveBtnLoading = false
              this.close()
            },
            () => {
              // error
              this.saveBtnLoading = false
              // snackbar should show error
            }
          )
      }
    },

    editItem (item) {
      this.editedIndex = this.snacks.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item = null) {
      if (item !== null) {
        this.toDelete = item
        this.deleteDialog = true
      } else {
        this.deleteBtnLoading = true

        this.$http.delete(`snacks/${this.toDelete.id}`)
          .then(
            () => {
              // success
              const index = this.snacks.indexOf(this.toDelete)
              this.snacks.splice(index, 1)
              this.deleteBtnLoading = false
              this.deleteDialog = false
            },
            () => {
              // error
              this.deleteBtnLoading = false
            }
          )
      }
    },

    initialize () {
      this.$http.get('snacks').then(response => {
        this.snacks = response.data.data
      })
    }
  }
}
</script>
