.v-btn {
    margin: $margin-small 1px;
    padding: $padding-small + 2 $padding-general + 15;
    font-size: $font-size-small;
    font-weight: $font-weight-base !important;
    height: auto;
    line-height: $line-height-base;
    color: $white !important;
    cursor: pointer;
    border-radius: $border-radius-base;

    &.v-btn--round,
    &.v-btn--round:after {
        border-radius: $btn-round-padding;
    }

    &.v-btn-facebook {
        @include social-buttons-color($social-facebook);
    }
    &.v-btn-twitter {
        @include social-buttons-color($social-twitter);
    }

    .v-icon--left {
        margin-right: $btn-margin-icon;
    }
    .v-icon--right {
        margin-left: $btn-margin-icon;
    }

    &.v-btn--large {
        font-size: $font-size-general;
        padding: $btn-y-large-padding $btn-x-large-padding !important;
        line-height: $btn-large-line-height;
    }

    &.v-btn--small {
        padding: $btn-y-small-padding $btn-x-small-padding !important;
        font-size: $font-size-small - 1;
    }

    &.v-btn--icon {
        width: $btn-icon-dim;
        height: $btn-icon-dim;
        line-height: $btn-icon-dim;
        padding: 0;

        &.v-btn--round {
            border-radius: 50%;
        }
    }

    &.success {
        @include button-color($brand-success);
    }

    &.default {
        @include button-color($gray-light);
    }

    &.primary {
        @include button-color($brand-primary);
    }

    &.warning {
        @include button-color($brand-warning);
    }

    &.info {
        @include button-color($brand-info);
    }

    &.danger {
        @include button-color($brand-danger);
    }

    .v-icon {
        font-size: $btn-font-size-icon;
    }
}

.v-btn--fixed {
    border-radius: $border-radius-base + 3;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: rgba($black, .3) !important;
    right: 0;
    padding: 0;
    width: $btn-fixed-width;

    .v-icon {
        font-size: $btn-fixed-icon-size;
        padding: $padding-small;
    }
}

.v-btn--active:before,
.v-btn:focus:before,
.v-btn:hover:before {
    background-color: transparent;
}
