<template>
  <v-snackbar
    v-model="enabled"
    :color="color"
    top
    dark
  >
    <v-icon
      color="white"
      class="mr-3"
    >
      {{ icon }}
    </v-icon>
    <div>{{ flash.text }}</div>
    <v-icon
      size="16"
      @click="enabled = false"
    >
      mdi-close-circle
    </v-icon>
  </v-snackbar>
</template>

<script>
export default {
  computed: {
    enabled: {
      get: function () {
        return this.$store.state.snackbar.enabled
      },
      set: function (value) {
        // TODO: set type and text to default
        this.$store.commit('enableSnackbar', value)
      }
    },

    flash () {
      return this.$store.state.snackbar
    },

    icon () {
      switch (this.flash.type) {
        case 'error':
          return 'mdi-close-circle'
        case 'info':
          return 'mdi-information'
        case 'success':
          return 'mdi-check-circle'
        case 'warning':
          return 'mdi-alert-circle'
        default:
          return ''
      }
    },

    color () {
      switch (this.flash.type) {
        case 'info':
          return 'cyan'
        case 'warning':
          return 'amber darken-2'
        default:
          return this.flash.type
      }
    }
  }
}
</script>
