<template>
  <v-content>
    <div
      v-if="$auth.ready"
      :id="$auth.check() ? 'dashboard' : 'auth'"
    >
      <core-snackbar />
      <v-fade-transition mode="out-in">
        <router-view />
      </v-fade-transition>
      <core-footer v-if="$auth.check()" />
    </div>
  </v-content>
</template>

<script>
export default {
  metaInfo () {
    return {
      // TODO: dynamically append page name
      title: 'John\'s Shop'
    }
  }
}
</script>

<style>
  #dashboard {
    padding-bottom: 100px;
  }

  #auth {
    height: 100%;
  }
</style>
